.auth-form {
  display: flex;
  flex-direction: column;

  width: 387px;
}
.auth-form > label {
  width: 52px;
  height: 21px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(46, 53, 64, 1);
  color: black;
}
.auth-form-button {
  width: 387px !important;
  height: 45px !important;
  line-height: 21px !important;
  font-weight: 500 !important;
}
