.auth-form {
  display: flex;
  flex-direction: column;

  width: 387px;
  gap: 34px;
}
.authform-span {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.auth-form-labels {
  width: 52px;
  height: 21px;
  color: #2e3540;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.authform-checkbox-link-span {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-top: -30px;

  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  color: #2e3540;
}

.authform-button-span {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;

  color: #ff9600;

  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
